<navigation></navigation>
<div class="main-container clearfix">
    <div class="col-md-2 left-sidebar">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="col-md-6 active"><a href="#tab1" data-toggle="tab">Tab1</a></li>
            <li class="col-md-6"><a href="#tab2" data-toggle="tab">Tab2</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <div class="new-btn">
                    <a href=""><i class="glyphicon glyphicon-plus-sign"></i></a>
                </div>
                <ul class="list-area">
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-fire"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-fire"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-fire"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-fire"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="tab2">
                <div class="new-btn">
                    <a href=""><i class="glyphicon glyphicon-plus-sign"></i></a>
                </div>
                <ul class="list-area">
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom-actions clearfix">
            <div class="col-md-6">
                <a href="">Docker CLI</a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <i class="glyphicon glyphicon-comment"></i>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <i class="glyphicon glyphicon-cog"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-10 content-area">
        <div class="content-header clearfix">
            <div class="search-area">
                <div class="col-md-5 p0">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="pull-right">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#contenttab1" data-toggle="tab">Tab1</a></li>
                    <li><a href="#contenttab2" data-toggle="tab">Tab2</a></li>
                    <li><a href="#contenttab3" data-toggle="tab">Tab3</a></li>
                </ul>
            </div>
        </div>
        <div class="content-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
