<!--<navigation></navigation>

<div class="container">

    <router-outlet></router-outlet>

    <customfooter></customfooter>
</div>-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand Logo</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i>Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="main-container clearfix">
    <div class="col-md-3 left-sidebar">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="col-md-6 active"><a href="#tab1" data-toggle="tab">Tab1</a></li>
            <li class="col-md-6"><a href="#tab2" data-toggle="tab">Tab2</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <div class="new-btn">
                    <a href=""><i class="glyphicon glyphicon-plus-sign"></i></a>
                </div>
                <ul class="list-area">
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-fire"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-fire"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-fire"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-fire"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="tab2">
                <div class="new-btn">
                    <a href=""><i class="glyphicon glyphicon-plus-sign"></i></a>
                </div>
                <ul class="list-area">
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span>
                                <span>jenkins</span>
                                <span class="text-light-grey">jenkins:latest</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom-actions clearfix">
            <div class="col-md-6">
                <a href="">Docker CLI</a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <i class="glyphicon glyphicon-comment"></i>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <i class="glyphicon glyphicon-cog"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9 content-area">
        <div class="content-header clearfix">
            <div class="search-area">
                <div class="col-md-5 p0">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="pull-right">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#contenttab1" data-toggle="tab">Tab1</a></li>
                    <li><a href="#contenttab2" data-toggle="tab">Tab2</a></li>
                    <li><a href="#contenttab3" data-toggle="tab">Tab3</a></li>
                </ul>
            </div>
        </div>
        <div class="content-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="contenttab1">
                    <h3>Tab1 Content</h3>
                </div>
                <div class="tab-pane fade" id="contenttab2">
                    <h3>Tab2 Content</h3>
                </div>
                <div class="tab-pane fade" id="contenttab3">
                    <h3>Tab3 Content</h3>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
