<div class="tab-content">
    <div class="tab-pane fade in active" id="contenttab1">
        <div class="row box-row">
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row box-row">
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row box-row">
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 box-col">
                <div class="box-container clearfix">
                    <div class="col-md-2 icon-block">
                        <i class="glyphicon glyphicon-apple"></i>
                    </div>
                    <div class="col-md-10 content-block">
                        <p class="title">kitematic</p>
                        <p class="subtitle">hello-world-nginx</p>
                        <p class="text">A light-weight nginx container that demonstrates the features of Kitematic</p>
                        <div class="actions-area clearfix">
                            <div class="col-md-5 like-area">
                                <a href=""><i class="glyphicon glyphicon-heart-empty"></i>8</a>
                            </div>
                            <div class="col-md-2 options-area">
                                <a href=""><i class="glyphicon glyphicon-option-horizontal"></i></a>
                            </div>
                            <div class="col-md-5 create-btn">
                                <a href="">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="contenttab2">
        <h3>Tab2 Content</h3>
    </div>
    <div class="tab-pane fade" id="contenttab3">
        <h3>Tab3 Content</h3>
    </div>
</div>
